.bienvenue
{
    color: khaki
}

p
{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: oblique;
    font-family: Verdana;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: : 10px;
}

.acceuil
{
    color: rgb(11, 89, 255);
    border: 3px blue dashed;
}

@font-face 
{
    font-family: ;
    src: url(font/open_sans_ttf/OpenSans-BoldItalic.ttf) format('eot'),
         url(/font/open_sans_ttf/OpenSans-Bold.ttf) format('eot'),
}

body
{
    background: rgb(27, 150, 150);
    background-image: url(/img/tahiti.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
}

.laccism
{
    font-family: monospace;
    font-size: 50px;
    
}

nav
{
    float:left;
    width:150px;
    border: 1px solid black;
}

section
{
    border: 1px solid blue;
}

a
{
    display: block;
}